:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --gray-color: #888;
}

/* start box */

.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.flex-end {
    justify-content: flex-end;
}

.f-grow-1 {
    flex-grow: 1;
}

.f-grow-2 {
    flex-grow: 2;
}

.f-wrap {
    flex-wrap: wrap;
}

.f-dir-row-rev {
    flex-direction: row-reverse;
}

@media (max-width:767px) {
    .f-dir-col-mobile {
        flex-direction: column;
    }
}

.d-grid {
    display: grid;
}

.gap-20 {
    gap: 20px;
}

.d-block {
    display: block;
}

@media (max-width:767px) {
    .block-mobile {
        display: block;
    }

    .hide-mobile {
        display: none;
    }
}

/* end box */
/* start padding + margin */
.p-10 {
    padding: 10px;
}

.pt-10 {
    padding-top: 10px;
}

.pr-10 {
    padding-right: 10px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pl-10 {
    padding-left: 10px;
}

.p-15 {
    padding: 15px;
}

.pt-15 {
    padding-top: 15px;
}

.pr-15 {
    padding-right: 15px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pl-15 {
    padding-left: 15px;
}

.p-20 {
    padding: 20px;
}

.pt-20 {
    padding-top: 20px;
}

.pr-20 {
    padding-right: 20px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pl-20 {
    padding-left: 20px;
}

.p-25 {
    padding: 25px;
}

.pt-25 {
    padding-top: 25px;
}

.pr-25 {
    padding-right: 25px;
}

.pb-25 {
    padding-bottom: 25px;
}

.pl-25 {
    padding-left: 25px;
}

.m-auto {
    margin: auto;
}

.mt-auto {
    margin-top: auto;
}

.mr-auto {
    margin-right: auto;
}

.mb-auto {
    margin-bottom: auto;
}

.ml-auto {
    margin-left: auto;
}

.m-0 {
    margin: 0;
}

.mt-0 {
    margin-top: 0;
}

.mr-0 {
    margin-right: 0;
}

.mb-0 {
    margin-bottom: 0;
}

.ml-0 {
    margin-left: 0;
}

.m-5 {
    margin: 5px;
}

.mt-5 {
    margin-top: 5px;
}

.mr-5 {
    margin-right: 5px;
}

.mb-5 {
    margin-bottom: 5px;
}

.ml-5 {
    margin-left: 5px;
}

.m-10 {
    margin: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.mr-10 {
    margin-right: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.ml-10 {
    margin-left: 10px;
}

.m-15 {
    margin: 15px;
}

.mt-15 {
    margin-top: 15px;
}

.mr-15 {
    margin-right: 15px;
}

.mb-15 {
    margin-bottom: 15px;
}

.ml-15 {
    margin-left: 15px;
}

.m-20 {
    margin: 20px;
}

.mt-20 {
    margin-top: 20px;
}

.mr-20 {
    margin-right: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.ml-20 {
    margin-left: 20px;
}

.m-25 {
    margin: 25px;
}

.mt-25 {
    margin-top: 25px;
}

.mr-25 {
    margin-right: 25px;
}

.mb-25 {
    margin-bottom: 25px;
}

.ml-25 {
    margin-left: 25px;
}

/* end padding + margin */
/* start color */
.bc-blue {
    border-color: var(--blue-color);
}

.bc-green {
    border-color: var(--green-color);
}

.bc-orange {
    border-color: var(--orange-color);
}

.bc-red {
    border-color: var(--red-color);
}

.bg-blue {
    background-color: var(--blue-color);
}

.bg-green {
    background-color: var(--green-color);
}

.bg-orange {
    background-color: var(--orange-color);
}

.bg-gray {
    background-color: var(--gray-color);
}

.bg-red {
    background-color: red;
}

.bg-white {
    background-color: white;
}

.bg-eee {
    background-color: #eee;
}

.c-black {
    color: black;
}

.c-blue {
    color: var(--blue-color);
}

.c-gray {
    color: var(--gray-color);
}

.c-green {
    color: var(--green-color);
}

.c-orange {
    color: var(--orange-color);
}

.c-red {
    color: var(--red-color);
}

.c-white {
    color: white;
}

/* end color */
/* start position */
.p-relative {
    position: relative;
}

.p-abs {
    position: absolute;
}

/* end position */
/* start font */
.fw-bold {
    font-weight: bold;
}

.oflow-h {
    overflow: hidden;
}

.txt-c {
    text-align: center;
}

.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}

.fs-16 {
    font-size: 16px;
}

.fs-25 {
    font-size: 25px;
}

@media (max-width: 767px) {
    .txt-c-mobile {
        text-align: center;
    }
}

/* end font */
/* start border & outline */
.b-none {
    border: none;
}

.b-1-ccc {
    border: 1px solid #ccc;
}

.b-1-eee {
    border: 1px solid #eee;
}


.bt-1-eee {
    border-top: 1px solid #eee;
}

.bb-1-eee {
    border-bottom: 1px solid #eee;
}

.b-2-white {
    border: 2px solid white;
}

.bt-2-white {
    border-top: 2px solid white;
}

.br-2-white {
    border-right: 2px solid white;
}

.bb-2-white {
    border-bottom: 2px solid white;
}

.bl-2-white {
    border-left: 2px solid white;
}

.b-3-white {
    border: 3px solid white;
}

.bt-3-white {
    border-top: 3px solid white;
}

.br-3-white {
    border-right: 3px solid white;
}

.bb-3-white {
    border-bottom: 3px solid white;
}

.bl-3-white {
    border-left: 3px solid white;
}

.rad-6 {
    border-radius: 6px;
}

.rad-10 {
    border-radius: 10px;
}

.rad-half {
    border-radius: 50%;
}

.ol-3-trans {
    outline: 3px solid transparent;
}

/* end border & outline */
/* start width & height */
.w-full {
    width: 100%;
}

.w-fit {
    width: fit-content;
}

.w-40 {
    width: 40px;
}

.w-50 {
    width: 50px;
}

.w-100 {
    width: 100px;
}

.h-fit {
    height: fit-content;
}

.h-40 {
    height: 40px;
}

.h-50 {
    height: 50px;
}

.h-100 {
    height: 100px;
}

.h-150 {
    height: 150px;
}

.h-full {
    height: 100%;
}

/* end width & height */
/* start components */
.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.between-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-shape {
    padding: 4px 10px;
    border-radius: 6px;
}

.widget-shape {
    padding: 20px;
    border-radius: 10px;
    background-color: white;
}

/* end components */